# Django
Django>=5.0,<6.0

# Database (Supabase = PostgreSQL)
psycopg2-binary>=2.9.9
dj-database-url>=2.1.0

# REST API & Auth
djangorestframework>=3.14.0
django-cors-headers>=4.3.0
djangorestframework-simplejwt>=5.3.0
django-filter>=24.0

# Production
gunicorn>=21.0.0
